.stayButton {
    visibility: hidden;
}

.newGame{
    text-align: center;
}


.newCard{
    visibility: hidden;
}
    
.title{
    text-align: center;
}

.Hand{
    visibility: hidden;
    font-size: 30px;
}
.card
{
    border: 2px black;
}
.Win{
    visibility: hidden;
}
.playAgain{
    visibility: hidden;
}